# Testing helpers.
PyYAML                  # For the test's spec.yaml


# Following are the template engines for testing.
CoffeeScript            # CoffeeScript (https://github.com/doloopwhile/Python-CoffeeScript/)
python-creole           # Creole (https://github.com/jedie/python-creole/)
Jinja2                  # Jinja2 (http://jinja.pocoo.org/)
Mako                    # Mako (http://www.makotemplates.org/)
Markdown                # Markdown (http://packages.python.org/Markdown/)
pystache                # Mustache (https://github.com/defunkt/pystache/)
docutils                # reStructuredText (http://docutils.sourceforge.net/rst.html)
-e git://github.com/sebix/python-textile.git#egg=python-textile # Textile

