Chameleon               # Chameleon (http://chameleon.repoze.org/)
Cheetah                 # Cheetah (http://www.cheetahtemplate.org/)
CoffeeScript            # CoffeeScript (https://github.com/doloopwhile/Python-CoffeeScript/)
python-creole           # Creole (https://github.com/jedie/python-creole/)
django                  # Django (https://www.djangoproject.com/)
Genshi                  # Genshi (http://genshi.edgewall.org/)
Jinja2                  # Jinja2 (http://jinja.pocoo.org/)
-e git://github.com/metalshark/lesscss-python.git#egg=lesscss-python # LessCSS
Mako                    # Mako (http://www.makotemplates.org/)
Markdown                # Markdown (http://packages.python.org/Markdown/)
misaka                  # Markdown - using C extension (http://misaka.61924.nl/)
pystache                # Mustache (https://github.com/defunkt/pystache/)
docutils                # reStructuredText (http://docutils.sourceforge.net/rst.html)
pyScss                  # Sass/SCSS (https://github.com/Kronuz/pyScss/)
-e git://github.com/sebix/python-textile.git#egg=python-textile # Textile

